<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="92.63.98.41"/>
		<add key="Username" value="r1m1"/>
		<add key="Password" value="r1m125"/>
		<add key="RemoteDirectory" value="/home/r1m1/"/>
		<add key="SavingDirectory" value="/home/pi/AFTClientDev/ReceivedFiles"/>
		<add key="LogFilePath" value=""/>
	</appSettings>
</configuration>