<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="83.220.168.89"/>
		<add key="Username" value="route1monitor1"/>
		<add key="Password" value="r11pass@11"/>
		<add key="RemoteDirectory" value="/home/route1monitor1/videos"/>
		<add key="SavingDirectory" value="C:\Users\AntWo\Videos\AFTReceivedVideos"/>
		<add key="ConnectionRecurrences" value="5"/>
		<add key="ConnectionsMillisecondsDelay" value="5000"/>
		<add key="LogFilePath" value=""/>
	</appSettings>
</configuration>